@import "color.css";

#hardware #cpu,
#hardware #memory {
    border: none; 
    box-shadow: none;
    background-color: transparent;
    border-radius: 6px;
    color: @text;
    padding: 2px 8px;
    margin: 0; 
    transition: all 0.2s ease-in-out;
}




